<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UPS_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UPS_Manager.Properties.Settings>
            <setting name="UPSPort" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="DataTimerInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatteryMax" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="BatteryMin" serializeAs="String">
                <value>9.7</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="AutoMaxMin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MuteBeeper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatteryChargeMax" serializeAs="String">
                <value>13.6</value>
            </setting>
            <setting name="BatteryChargeMin" serializeAs="String">
                <value>12.6</value>
            </setting>
            <setting name="RS232DeviveName" serializeAs="String">
                <value>USB-SERIAL CH340 (COM6)</value>
            </setting>
        </UPS_Manager.Properties.Settings>
    </userSettings>
</configuration>